<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex-proxy</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery-jsonview/dist/jquery.jsonview.js"></script>
    <script src="/bower_components/qrcodejs/qrcode.js"></script>

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-jsonview/dist/jquery.jsonview.css" />
    <style type="text/css">
        .padding5 {
            padding: 5px;
        }
    </style>

</head>
<body ng-app="app" ng-controller="ctrl">
<div class="container" style="margin-top: 10px;">
    <button class="btn btn-default" ng-click="add()" data-toggle="modal" data-target="#modal-common">添加</button>
    <table class="table ">
        <thead>
        <tr>
            <th>enable</th>
            <th>method</th>
            <th>url</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in hooks">
            <td><input type="checkbox" ng-model="item.enable" ng-click="enable($event, item)"></td>
            <td>{{ item.method }}</td>
            <td>{{ item.url }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default" ng-click="edit(item)" data-toggle="modal" data-target="#modal-common">编辑</button>
                    <button class="btn btn-default" ng-click="remove(item)" >删除</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal common -->
    <div class="modal fade common" id="modal-common" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1200px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="common-content">
                    <textarea ng-model="editObj.content" style="width:900px;height: 400px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button class="btn btn-default" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    angular.module('app', [])
            .controller('ctrl', ["$scope", "$http", "$compile",  function($scope, $http, $compile) {
                $http.get("/hook/list").then(function (data) {
                    $scope.hooks = data.data;
                });
                $scope.edit = function (item) {
                    var clone = angular.extend({}, item);
                    delete clone.$$hashKey;
                    $scope.editObj = {
                        isUpdate : true,
                        content : JSON.stringify(clone, null, 4)
                    };
                }
                $scope.add = function () {
                    $scope.editObj = {
                        content : ""
                    };
                }
                $scope.save = function () {
                    try {
                        var body = JSON.parse($scope.editObj.content)
                    } catch (e) {
                        alert("json 解释错误")
                        return;
                    }
                    if($scope.editObj.isUpdate){
                        $http.post("/hook/update", body).then(function (data) {
                            $scope.hooks = data.data;
                            $("#modal-common").modal("hide");
                        });
                    }else{
                        $http.post("/hook/add", body).then(function (data) {
                            if(data.data.code == 400){
                                alert("hook已存在")
                            }else {
                                $scope.hooks = data.data;
                                $("#modal-common").modal("hide");
                            }
                        }, function (data) {
                            if(data.data.code == 400){
                                alert("hook已存在")
                            }
                        });
                    }
                }
                $scope.remove = function (item) {
                    $http.post("/hook/remove", item).then(function (data) {
                        $scope.hooks = data.data;
                    });
                }
                $scope.enable = function ($event, item) {
                    var checkbox = $event.target;
                    item.enable = checkbox.checked;
                    $http.post("/hook/update", item).then(function (data) {
                        $scope.hooks = data.data;
                    });
                }
            }]);
</script>
</html>