<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex-proxy</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery-jsonview/dist/jquery.jsonview.js"></script>
    <script src="/bower_components/qrcodejs/qrcode.js"></script>

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-jsonview/dist/jquery.jsonview.css" />

</head>
<body ng-app="app" ng-controller="ctrl">{{keyCode}}
<div class="container" style="margin-top: 10px;">
    <div class="row alert alert-info " role="alert">
    <div class="col-xs-9">
        <h3>Http代理、监控工具
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/hcnode/alex-proxy" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </h3>
        使用方法：<br>
        1.将手机或者电脑网络连接内网<br>
        2.设置网络http代理服务器：$serverIp$:$port$<br>
        3.访问http://$hostname$:$port$/#ip=查看请求的ip，为空时为本机ip, 或者在下面输入框输入ip<br>
        （查看非本机ip默认是没有权限, 可以直接用该设备扫描右边的二维码获取该设备权限）
    </div>
    <div class="col-xs-3 hide" id="bindIp" style="display: none;">
        添加绑定：<input ng-model="bindNewIp" ng-keydown="addBindIp($event)">
        <ul class="list-group" style="margin-top: 5px">
            <li class="list-group-item" ng-repeat="item in bindIps">{{ item }}&nbsp;<i class="fa fa-remove" ng-click="removeBindIp(item)"></i></li>
        </ul>
    </div>
        <div class="col-xs-3" >
            <div id="qrcode" ></div>
        </div>
    </div>
    查看请求的ip: &nbsp;<input ng-model="ip" placeholder="为空时为本机ip">
    &nbsp;&nbsp;<button ng-click="clean()" class="btn btn-default btn-xs">清空</button>
    &nbsp;&nbsp;Filter:
    &nbsp;&nbsp;content-type: <select ng-model="filter.contentType" ng-change="createFilterData()">
        <option value="all">all</option>
        <option value="json">json/js</option>
        <option value="image">image</option>
        <option value="html">html</option>
    </select>
    &nbsp;&nbsp;关键字: <input ng-model="filter.key" ng-change="createFilterData()">
    <!--&nbsp;&nbsp;Ip绑定:
    &nbsp;&nbsp;<button onclick="$('#bindIp').toggle()">管理ip绑定</button>-->
    <!--&nbsp;&nbsp;<button ng-click="getQr()">显示二维码</button>-->
    <table class="table ">
        <thead>
        <tr>
            <th>Time</th>
            <th>Ip</th>
            <th>Method</th>
            <th>Status</th>
            <th>Url</th>
            <th style="width:270px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filterData">
            <td>{{ item.time }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.method }}</td>
            <td>{{ item.statusCode }}</td>
            <td style="word-break:break-all;"><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default" ng-click="showBody(item)" data-toggle="modal" data-target=".json-body">Body</button>
                    <button class="btn btn-default" ng-click="showHeader(item)" data-toggle="modal" data-target=".json-header">Headers</button>

                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            More
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" ng-click="share(item)" data-toggle="modal" data-target=".common">Share</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal common -->
    <div class="modal fade common" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1200px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="common-content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal body -->
    <div class="modal fade json-body" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1200px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Body</h4>
                </div>
                <div class="modal-body" id="json-content">
                    <ul id="bodyTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#body-req" id="reqBody-tab" role="tab"
                               data-toggle="tab" aria-controls="body-req"
                               aria-expanded="true">Request</a></li>
                        <li role="presentation" class="">
                            <a href="#body-res" role="tab" id="resBody-tab"
                               data-toggle="tab" aria-controls="body-res"
                               aria-expanded="false">Response</a></li>
                    </ul>
                    <div id="bodyContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="body-req" aria-labelledby="body-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="body-res" aria-labelledby="body-tab"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal headers -->
    <div class="modal fade json-header" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1200px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Headers</h4>
                </div>
                <div class="modal-body" id="json-content-header">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#header-req" id="req-tab" role="tab"
                              data-toggle="tab" aria-controls="header-req"
                              aria-expanded="true">Request</a></li>
                        <li role="presentation" class="">
                            <a href="#header-res" role="tab" id="res-tab"
                                data-toggle="tab" aria-controls="header-res"
                                aria-expanded="false">Response</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="header-req" aria-labelledby="req-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="header-res" aria-labelledby="res-tab"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    function getContentType(item) {
        var contentType = item.resHeaders["content-type"] || "";
        return {
            isJson : function () {
                return contentType.indexOf("json") > -1 || contentType.indexOf("javascript") > -1
            },
            isJs : function () {
                return contentType.indexOf("javascript") > -1
            },
            isImage : function () {
                return contentType.indexOf("image") > -1
            },
            isHtml : function () {
                return contentType.indexOf("html") > -1
            },
            getType : function () {
                return this.isJson() ? "json" :
                        this.isJs() ? "js" :
                                this.isImage() ? "image" : "html"
            }
        }
    }
    function beautifulCookie(headers) {
        var cookie = headers.cookie;
        if(cookie && typeof cookie == "string"){
            var cookies = {};
            var aCookies = cookie.split(/; ?/);
            for(var i=0;i<aCookies.length;i++){
                var pair = aCookies[i].split("=");
                if(pair[0]) cookies[pair[0]] = pair[1];
            }
            headers.cookie = cookies;
        }
        return headers;
    }
    function htmlEncode(body) {
        return body.replace(/</gi, "&lt;").replace(/>/gi, "&gt;").replace(/\n/gi, "<br>")
    }
    function isEmpty(filter) {
        for(key in filter){
            if(filter[key]){
                return false;
            }
        }
        return true;
    }

    function reqContentTypeIsJson(item) {
        var contentType = item.reqHeaders && item.reqHeaders["content-type"];
        if(contentType && /json/.test(contentType)){
            return true;
        }
    }

    function beautifulBody(body) {
        var params = body.split(/&/);
        var result = {};
        for(var i=0;i<params.length;i++){
            if(params[i]){
                var pair = params[i].split("=");
                result[pair[0]] = pair[1];
            }
        }
        return result;
    }
    function getHashIp() {
        return /#ip=((\d{1,3}\.){3}\d{1,3})/.test(location.hash) && RegExp.$1;
    }
    angular.module('app', [])
            .controller('ctrl', ["$scope", "$http", "$compile",  function($scope, $http, $compile) {
                $scope.ip = "";
                $scope.id = "";
                $scope.filter = {
                    contentType : "all"
                };
                $scope.bindIps = [];
                $scope.localIp = "$clientIp$";
                var currentIp;
                var hashIp = getHashIp();
                if(hashIp){
                    $scope.ip = hashIp;
                }
                if(/[\&\?]id=(.+?)($|&)/.test(location.search)){
                    $scope.id = RegExp.$1;
                }
                $scope.data = [];
                $scope.filterData = [];
                $scope.start = 0;
                $http.get("/bindIp?action=get").then(function (res) {
                    var data = res.data.data || [];
                    $scope.bindIps = data;
                });
                $scope.createFilterData = function () {
                    var data =  $scope.data;
                    $scope.filterData = [];
                    if(isEmpty($scope.filter)){
                        $scope.filterData = $scope.data
                    }else{
                        for(var i=0;i<data.length;i++){
                            var item = data[i];
                            var isMatch = true;
                            for(key in $scope.filter){
                                if($scope.filter[key]){
                                    switch(key){
                                        case "contentType" :
                                            var type = $scope.filter[key];
                                            var contentType = getContentType(item);
                                            switch (type){
                                                case "json":
                                                    isMatch = contentType.isJson() && isMatch;
                                                    break;
                                                case "image":
                                                    isMatch = contentType.isImage() && isMatch;
                                                    break;
                                                case "html":
                                                    isMatch = contentType.isHtml() && isMatch;
                                                    break;
                                            }
                                            break;
                                        case "key" :
                                            isMatch = new RegExp($scope.filter[key]).test(item.url) && isMatch;
                                            break;
                                    }
                                }
                            }
                            if(isMatch){
                                $scope.filterData.push(item);
                            }
                        }
                    }
                };
                var interval = setInterval(function () {
                    if(currentIp != $scope.ip){
                        $scope.start = 0;
                        currentIp = $scope.ip;
                    }
                    if($scope.id){
                        clearInterval(interval);
                    }
                    if($scope.ip){
                        var hashIp = getHashIp();
                        if(!hashIp || hashIp != $scope.ip){
                            location.hash = "#ip=" + $scope.ip;
                        }
                    }
                    $http.get("/data?start=" + $scope.start + "&ip=" + $scope.ip + "&id=" + $scope.id).then(function (res) {
                        var data = res.data.data;
                        var bindIp = res.data.bindIp;
                        $scope.start += data.length;
                        var reverseData = data.reverse();
                        $scope.data = reverseData.concat($scope.data);
                        $scope.createFilterData();
                        if($scope.id){
                            $scope.showBody(reverseData[0]);
                            $(".json-body").modal('show');
                        }
                        if(bindIp){
                            $scope.ip = bindIp;
                        }
                    });
                }, 1000);

                $scope.showBody = function (item) {
                    $("#body-res").html("");
                    var contentType = getContentType(item);
                    var type = contentType.getType();
                    if(type == "json"){
                        try {
                            $("#body-res").JSONView(item.body);
                        } catch (e) {
                            $("#body-res").html(item.body);
                        }
                    }else if(type == "image"){
                        $("#body-res").html('<image src="'+ item.url +'">');
                    }else{
                        $("#body-res").html('<pre>' + htmlEncode(item.body) + '</pre>');
                    }

                    var body = item.postBody;
                    if(reqContentTypeIsJson(item)){
                        body = JSON.parse(body);
                    }else{
                        body = beautifulBody(body);
                    }
                    $("#body-req").JSONView(body);
                }
                $scope.showHeader = function (item) {
                    $("#header-req").html("");
                    $("#header-res").html("");
                    $("#header-res").JSONView(beautifulCookie(item.resHeaders));
                    $("#header-req").JSONView(beautifulCookie(item.reqHeaders));
                }
                $scope.share = function (item) {
                    url = location.origin + "?id=" + item.id;
                    $("#common-content").html($compile('<a href="'+ url +'" target="_blank">'+ url +'</a>')($scope));
                }
                $scope.addBindIp = function(event){
                    if(event.keyCode == 13){
                        $http.get("/bindIp?action=add&ip=" + $scope.bindNewIp).then(function (res) {
                            var data = res.data.data || [];
                            $scope.bindIps = data;
                        });
                    }
                }
                $scope.removeBindIp = function(item){
                    $http.get("/bindIp?action=remove&ip=" + item).then(function (res) {
                        var data = res.data.data || [];
                        $scope.bindIps = data;
                    });
                }
                $scope.getQr = function () {
                    var addUrl = "http://"+ location.hostname +":"+ location.port +"/bindIp?action=add&ip=" + $scope.localIp;
                    new QRCode(document.getElementById("qrcode"), {
                        text: addUrl,
                        width: 128,
                        height: 128,
                        correctLevel : QRCode.CorrectLevel.H
                    })
                }
                $scope.clean = function () {
                    $http.get('/cleanCache?ip=' + $scope.ip).then(function (res) {
                        $scope.data = [];
                    });
                }

                $scope.getQr();
            }]);
</script>
</html>